@import url("./ResumeBuilder.css");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap");

:root {
	--primary-green: #28c47d;
	--resume-background-color: #1b512d;
	--secondary-green-opacity: rgba(33, 81, 45, 0.3);
	--accent-green: #b8edd8;
	--primary-text-color: #f0f0f0;
	--secondary-text-color: #323232;
	--background: #f6feff;
}
#root {
	height: 100vh;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	border: none;
	/* font-family: "Roboto", san-serf; */
	font-weight: 400;
	box-sizing: border-box;
	font-family: "Raleway", sans-serif;
}

body {
	background-color: var(--background);
}

/* BUTTONS */
.btn {
	font-size: 15px;
	font-weight: bold;
	border: 2px;
	background-color: var(--background);
	text-transform: uppercase;
	color: var(--primary-text-color);
}
.btn-text {
	mix-blend-mode: difference;
}

.lg-btn {
	width: 300px;
}

.pdf-btn {
	width: 125px;
	position: absolute;
	top: 1%;
	left: 75%;
}
.preview-btn {
	visibility: hidden;
	width: 150px;
	position: absolute;
	left: 53%;
	color: var(--primary-text-color);
	z-index: 1;
}
.sm-btn {
	width: 100px;
	padding: 5px;
	margin: 10px;
	background-color: var(--resume-background-color);
}

.resume-btn {
	border-radius: 3px;
	margin-top: 18px;
	margin-left: 8px;
	margin-right: 8px;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: var(--resume-background-color);
}

.back {
	background-color: var(--background);
	color: var(--primary-text-color);
}

.next {
	background-color: var(--background);
	color: var(--primary-text-color);
}

.clear {
	background-color: var(--background);
	color: var(--primary-text-color);
}

.lg-btn:hover {
	background-color: var(--primary-green);
}

.button-box {
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-btn {
	min-height: 38px;
	border-radius: 2px;
	margin: 0 0 15px;
}

@media (max-width: 740px) {
	.lg-btn {
		width: 90%;
	}
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
	.pdf-btn {
		position: absolute;
		width: 150px;
		top: 100%;
		left: 20%;
	}

	.preview-btn {
		position: absolute;
		visibility: visible;
		width: 150px;
		left: 65%;
		margin-top: 40px;
	}

	.btn:hover {
		color: var(--primary-text-color);
	}
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
	.resume-btn {
		visibility: visible;
		font-size: 12px;
		z-index: 1;
	}

	.pdf-btn {
		width: 150px;
		top: 97.5%;
		left: 20%;
		z-index: -1;
		margin-left: 35px;
	}

	.preview-btn {
		visibility: visible;
		width: 150px;
		left: 65%;
	}

	.btn:hover {
		color: var(--primary-text-color);
	}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.resume-btn {
		visibility: visible;
		font-size: 12px;
	}

	.preview-btn {
		position: absolute;
		visibility: visible;
		width: 150px;
		/* margin-left: 10%; */
	}
	.btn:hover {
		color: var(--primary-text-color);
	}
	.pdfdownload {
		position: relative;
	}
}

@media only screen and (min-width: 568px) and (max-width: 823px) and (orientation: landscape) {
	.resume-btn {
		font-size: 12px;
	}
	.preview-btn {
		visibility: visible;
		width: 120px;
		margin-left: 35px;
	}

	.pdf-btn {
		width: 120px;
		position: absolute;
		top: 98.6%;
		left: 20%;
		z-index: -1;
		margin-left: 35px;
	}

	.btn:hover {
		color: var(--primary-text-color);
	}

	h2 {
		font-size: 1.3em;
	}
	h3 {
		font-size: 1.1em;
	}
}

@media (max-width: 575px) and (orientation: portrait) {
	.sm-btn {
		width: 90%;
	}

	/* Resume Classes */
	.clear {
		width: 50%;
	}

	.next,
	.back {
		width: 50%;
	}

	.next-back {
		width: 50%;
		display: flex;
		flex-direction: row;
	}

	.preview-btn {
		visibility: visible;
		width: 120px;
		margin-right: 10%;
	}
	.btn:hover {
		color: var(--primary-text-color);
	}

	.pdf-btn {
		width: 120px;
		position: absolute;
		top: 99.2%;
		left: 10%;
		z-index: 1;
	}
	h2 {
		font-size: 1.2em;
	}
	h3 {
		font-size: 0.9em;
	}
	.resume-btn {
		font-size: 9px;
	}

	.sm-btn {
		width: 90px;
		padding: 5px;
		margin: 10px;
	}

	.small-field-box {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}
